# idea
.idea/
__pycache__/

# image for test
images/
training_data/
test_data/

# networks weights, biases and evaluation
src/network_parameters.json

# script for calc character frequency
src/frequency_symbols.py

# files for training different things 
src/example.py
src/test_train.py